body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;
    margin: 10px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF;
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}

.pad-right{		padding-right: 15px;}
.pad-left{		padding-left: 15px;}

.text-l{		font-size: 25px; }
.text-center{	text-align: center; }
.text-bold{		font-weight: bold; }
.text-italic{	font-style: italic; }
.text-info{		color: cornflowerblue; }

.span-xl{	width: 500px; }
.span-l{	width: 300px; }
.span-m{	width: 150px; }
.span-s{	width: 60px; }

.span-dxl{	max-width: 500px; }
.span-dl{	max-width: 300px; }
.span-dm{	max-width: 150px; }
.span-ds{	max-width: 60px; }